@use "../../styles/variant.module.scss" as *;
@use "sass:map";

.container_card {
  display: flex;
  border-bottom: 4px solid $bg-gray;
  padding: $spacing-xl;
  height: 320px;
  background-color: $bg-white;

  .card_image {
    width: 180px;
    height: 250px;
    border-radius: $border-radius;
    margin-right: $spacing-xl;
    object-fit: contain;
  }

  .card_info {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: $spacing-xl 0 $spacing-xl 0;
    width: 70%;

    .info_details {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;

      .info_title {
        font-size: $font-size-2xl;
        color: $text-secondary-gray;
        padding: 4px;
        font-weight: $font-weight-bold;
        width: 132px;
      }

      .details_description {
        font-weight: $font-weight-light;
        font-size: $font-size-md;
        line-height: 25px;
        max-width: 70%;
        color: $text-secondary-gray;
      }
    }

    .card_actions {
      display: flex;
      flex-direction: row;
      height: 150px;
      justify-content: flex-start;
      margin: $spacing-sm 0;

      .card_button_edit {
        background-color: $bg-blue;
        color: white;
        font-weight: 600;
        // padding: 10px $spacing-2xl;
         width: 100px;
        height: 30px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
      }

      .card_button_delete {
        background-color: $bg-red;
        color: $bg-white;
        font-weight: 600;
        height: 30px;
        margin-left: $spacing-sm;
        // padding: 10px $spacing-2xl;
        width: 100px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
      }

    }

  }
}

.editing_card {
  border: 1px solid $bg-blue; // borde naranja para destacar
  background-color: $bg-secondary-blue; // fondo suave para resaltar
}

@media (max-width: map.get($breakpoints, small)) {
  .container_card {
    height: 160px;

    .card_image {
      width: 120px;
      height: 120px;
    }

    .card_info {
      width: 100%;
      padding: 0;
      gap: $spacing-sm;

      .info_details {
        .info_title {
          font-size: $font-size-md;
          max-width: 100%;
        }

        .details_description {
          display: flex;
          gap: $spacing-sm;
          align-items: center;
          font-size: $font-size-lg;
          margin-bottom: $spacing-sm;
        }
      }
    }

    .card_actions {
      flex-direction: column; // <--- apilar los botones
      gap: $spacing-sm; // espacio entre ellos
      align-items: center; // centrar los botones

      .card_button_edit,
      .card_button_delete {
        width: 100px; // ahora sí respeta el ancho
      }
    }


  }
}